
.reveal section {

  .borderless {
    background: none;
    border: none;
    box-shadow: none;
  }

  .split-left {
    float: left;
    width: 50%;
  }
  .split-right {
    float: right;
    width: 50%;
  }
}