.reveal section .borderless {
  background: none;
  border: none;
  box-shadow: none; }

.reveal section .split-left {
  float: left;
  width: 50%; }

.reveal section .split-right {
  float: right;
  width: 50%; }

.muted {
  color: #999999;
}
