<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>reveal.js – The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <img data-src="img/angular2-logo.png" alt="logo" class="borderless">
            <h1>Angular2</h1>
            <h4>Presentation from an AngularJS (v1) dev</h4>
        </section>

        <section>
            <h3>DAVIN Kevin</h3>
            <img data-src="https://avatars0.githubusercontent.com/u/1970922?v=3&s=460" alt="avatar" class="borderless">
            <p><a href="http://twitter.com/davinkevin">@davinkevin</a></p>
            <ul>
                <li>Full-stack Dev (yes, java too... ;))</li>
                <li>Agile Addict</li>
                <li>Angular and other tech Former</li>
            </ul>
        </section>

        <section>
            <h2>Summary</h2>
            <ul>
                <li><a href="#/mythbuster">Myth-busters</a></li>
                <li><a href="#/frameworks">One framework or many framework ?</a></li>
                <li><a href="#/languages">Many languages...</a></li>
                <li><a href="#/deepdive">Deep dive in Angular2</a></li>
                <li>Beyond the browser</li>
            </ul>
        </section>

        <section id="mythbuster">
            <section>
                <img data-src="img/mythbusters.png" alt="mythbusters" class="borderless" height="128">
                <p>Since
                    <a href="https://www.youtube.com/watch?v=gNmWybAyBHI">NG-Europe 2014 and the announcement of Angular2</a>
                    , a lots of change have been made...
                </p>
            </section>
            <section>
                <h3>RIP of AngularJS principle</h3>
                <img data-src="img/rip.angular-1.png" alt="rip-angular1.parts" width="256">
            </section>
            <section>
                <h3>Why calling it Angular2 after all ?</h3>
                <p>The core is still "Angular"</p>
                <p>Keep only the good parts of the original Framework</p>
            </section>
            <section>
                <h3>The v2 of Angular is React ?</h3>
                <img data-src="img/twitter.toddmoto.angular2-react.png" alt="angular2-react">
                <p>A lot of people was discourage by the change</p>
                <p>The AngularTeam work hard to improve <b>Migration Path</b></p>
            </section>
            <section>
                <h3>AtScript...?</h3>
                <p>An extension of Javascript should have been the reference language</p>
                <img src="img/microsoft-google.png" alt="microsoft-google" style="background: white">
                <p>But Google/Microsoft teams-up to improve TypeScript</p>
            </section>
        </section>
        <section id="frameworks">
            <section>
                <h3>One framework or many framework ?</h3>
                <img src="img/Modular.png" alt="modular" class="borderless" height="128">
                <p>AngularJS is a macro-framework with :</p>
                <ul>
                    <li>Dependency Injection</li>
                    <li>Digest Cycle</li>
                    <li>Module Dependency</li>
                    <li>Directive for everything...</li>
                </ul>
            </section>
            <section>
                <h3>Angular2 is a m*cro-framework</h3>
                <ul>
                    <li><a href="https://github.com/angular/di.js">DI.js</a> (Angular2 dependency injector)</li>
                    <li><a href="https://github.com/angular/zone.js/">Zones.js</a></li>
                    <li><a href="https://github.com/systemjs/systemjs">SystemJs</a></li>
                    <li>Native browser selector (document.querySelectorAll...)</li>
                </ul>
            </section>
        </section>
        <section id="di">
            <section>
                <h3>Dependency Injection</h3>
                <img src="img/kzuwy.jpg" alt="decouple">
                <p>Help to conserve SOLI<b>D</b> principle in application</p>
            </section>
            <section>
                <h3>In angular1</h3>
                <pre><code class="hljs" data-trim>angular.module('myApp', [])
    .constant('Engine', function(){}).
    .constant('Tires', function(){}).
    .service('Car', Car);

function Car(Engine, Tires){...};
Car.$inject('Engine', 'Tires');</code></pre>
                <ul>
                    <li>Duplication of "code"</li>
                    <li>Singleton for the whole App</li>
                    <li>Namespace collision</li>
                </ul>
            </section>
            <section>
                <h3>DI in Angular2</h3>
                <p>In ES2015</p>
                <pre><code class="hljs" data-trim>import { Inject } from 'angular2/core';
class Car {
  constructor(@Inject(Engine) engine, @Inject(Tires) tires) {}
}</code></pre>
                <p>In TypeScript</p>
                <pre><code class="hljs javascript" data-trim>class Car {
  constructor(engine: Engine, tires: Tires) {}
}</code></pre>
            </section>
            <section>
                <h3>The Injector</h3>
                <img src="img/injector.png" alt="di" width="600" style="background: white">
                <p>So it's just a Map&ltToken, Provider&gt</p>
            </section>
            <section>
                <h3>Providing Injectable</h3>
                <pre><code class="hljs javascript" data-trim>import { Injector } from 'angular2/core';
...
let injector = Injector.resolveAndCreate([
  Car,
  Engine,
  Tires
]);

let car = injector.get(Car);</code></pre>
                <pre class="fragment"><code class="hljs javascript" data-trim>import { Injector, provide } from 'angular2/core';
...
let injector = Injector.resolveAndCreate([
  provide(Car, {useClass: Car}),
  provide(Engine, {useClass: Engine}),
  provide(Tires, {useClass: Tires})
]);</code></pre>
            </section>
            <section>
                <h3>Multiple sort of injectable</h3>
                <pre><code class="hljs javascript" data-trim>import { Injector, provide } from 'angular2/core';
...
let injector = Injector.resolveAndCreate([
  Car, // Class as a Provider
  provide(Car, {useClass: Car}), // Full description of Provider, allow aliases
  provide(Car, {
        useFactory : (engine, tire) => new Car(engine, tire),
        deps : ['Engine', 'Tire']
    }), // Provide Car from Factory
  provide(Tire, {useValue: "Tire"}), // Use Value
  SuperEngine,
  provide(Engine, {useExisting : SuperEngine }), // Use Alias
]);</code></pre>
            </section>
            <section>
                <h3>Injector(s)</h3>
                <p>Singleton only inside the same injectors</p>
                <pre><code class="hljs javascript" data-trim>import { Injector } from 'angular2/core';

let injector = Injector.resolveAndCreate([Engine]);
let childInjector = injector.resolveAndCreateChild([Engine]);

injector.get(Engine) === injector.get(Engine);
injector.get(Engine) !== childInjector.get(Engine);</code></pre>
            </section>
            <section>
                <h3>Inheritance between Injector</h3>
                <img src="img/childInjector.png" alt="childinjector">
            </section>
        </section>
        <section id="zones">
            <section>
                <h3>Zones.js</h3>
                <p>Zones are simply an <b>Execution context</b> for Javascript</p>
            </section>
            <section data-background-image="img/zones/explosion.gif"></section>
            <section data-transition="none-in">
                <h3>Zones.js</h3>
                <p>Zones are simply an <b>Execution context</b> for Javascript</p>
                <p>It helps to handle asynchronous code in JS</p>
                <p>Extract from <b>Dart Lang</b>, alternative to <i>Domains</i> in NodeJS</p>
            </section>
            <section>
                <h3><a target="_blank" href="examples/zones/javascript.101.html">Javascript 101</a></h3>
                <pre><code class="hljs javascript" data-trim>function cf(name) { return function() { console.log(name); } };
var a = cf('a'), b = cf('b'), c = cf('c'), d = cf('d');

a();
setTimeout(b, 0);
setTimeout(c, 0);
d();</code></pre>
                <div class="fragment">
                <p>Results to </p>
                <pre><code class="hljs javascript" data-trim>a
d
b
c</code></pre>
                </div>
                <p class="fragment">All the async tasks are added to the event queue and executed when other tasks are finished</p>
            </section>
            <section>
                <h3>How long does it take ?</h3>
                <pre><code class="hljs javascript" data-trim>start();
a();
setTimeout(b, 0);
setTimeout(c, 0);
d();
stop();</code></pre>
                <div class="fragment">
                <p>Results :</p>
                <pre><code class="hljs javascript" data-trim>// Start
a
d
// Stop
b // Missed
c // Missed</code></pre>
                </div>
            </section>
            <section data-transition="none-out">
                <h3><a href="examples/zones/sort-async.html">What need to be done ?</a></h3>
                <img src="img/zones/execution-without-zones.png" alt="no-zones">
            </section>
            <section data-transition="none">
                <h3><a href="examples/zones/sort-async.html">What need to be done ?</a></h3>
                <img src="img/zones/execution-in-zones.png" alt="with-zones">
            </section>
            <section>
                <h3>Why are we talking about this ?</h3>
                <p>Let's consider a framework, for example AngularJS with this: </p>
                <pre><code class="hljs javascript" data-trim>var $rootScope;
zone
    .fork({
        afterTask : function() {
            $rootScope.$digest();
        }
    })
    .run(function() {
        angular.bootstrap(document, aModule);
        $rootScope = angular
            .element(document)
            .injector()
            .get('$rootScope');
    });</code></pre>
            </section>
            <section>
                <h3><a href="examples/zones/sort-async.html">Demo time</a></h3>
            </section>
        </section>
        <section id="systemjs">
            <section>
                <h3>SystemJS</h3>
                <p>A polifyll for ES2017 (?) module loader</p>
            </section>
            <section>
                <h3>Module dependency done easy</h3>
                <p>In AngularJS (it's so 2009...)</p>
                <pre><code>angular.module('FooModule', [
 'BarModule',
 'anotherModule'
]);</code></pre>
                <div class="fragment">
                    <p>In ES2015 & SystemJS</p>
                    <pre><code>import { BarModule } from './Bar.comp';
import { AnotherComp } from './another.comp';</code></pre>
                </div>
                <p class="fragment">Simple to maintain !</p>
            </section>
            <section>
                <h3>Is it worth it ?</h3>
                <p>Angular2 is fully modular</p>
                <p>Reduce the size of the app depending of what your app need</p>
            </section>
            <section data-background="img/systemjs/mrpotato.jpg">
            </section>
            <section>
                <h3>Only SystemJS ?</h3>
                <p>No... you can use what you want</p>
                <div class="split-left">
                    <img src="img/systemjs/webpack.png" alt="webpack" height="192">
                    <br>
                    <a href="https://webpack.github.io/docs/">Webpack</a>
                </div>
                <div class="split-right">
                    <img src="img/systemjs/jspm.png" alt="jspm" height="192">
                    <br>
                    <a href="http://jspm.io/">JSPM</a>
                </div>
            </section>
        </section>
        <section id="languages">
            <section>
                <h3>Many Languages</h3>
                <img src="img/languages/rip.jpeg" alt="atScript">
            </section>
            <section data-transition="none">
                <h3>Simpler...</h3>
                <img src="img/languages/comparison.no-compile.png" alt="no-compile">
            </section>
            <section data-transition="none">
                <h3>Future proof</h3>
                <img src="img/languages/comparison.no-type.png" alt="no-type">
            </section>
            <section data-transition="none">
                <h3>Type and IDE help</h3>
                <img src="img/languages/comparison.no-js.png" alt="no-js">
            </section>
            <section>
                <h3>JS based, vector of innovation</h3>
                <img src="img/languages/sets.png" alt="sets">
            </section>
            <section>
                <h3>So you can write Angular2 in Plain Old Javascript</h3>
                <pre><code>var TodoComp = ng
.Component({
 selector: 'todo',
 templateUrl: '../partials/todo.html'
})
.Class({
 constructor: function (heroService, routeParams) {}
 select(todo){...}
});</code></pre>
                <p>But, it isn't as fun as evolved JS</p>
            </section>
            <section>
                <h3>Or with Type and Decorators !</h3>
                <pre><code>@Component({
 selector: 'todo',
 templateUrl: '../partials/todo.html'
})
export class TodoComp {
    constructor(private heroService: HeroService, private routeParams: RouteParams){}
    select(todo){...}
}</code></pre>
            </section>
        </section>
        <section id="deepdive">
            <section>
                <h3>Angular2</h3>
                <p>All is about Component</p>
                <p class="fragment">EVERYWHERE !</p>
            </section>
            <section data-background="img/deepdive/blocks.gif"></section>
            <section>
                <h3>An app are just some buildings block</h3>
                <img src="img/deepdive/tree.svg" alt="tree" class="borderless">
            </section>
            <section>
                <h3>A Component is</h3>
                <p><span class="fragment">Controller </span><span class="fragment">+ Template </span><span class="fragment">(+ optional RouteConfig)</span></p>
            </section>
            <section data-transition="none-out">
                <h3>And Components have an intuitive LifeCycle</h3>
                <ul>
                    <li><b>OnChange</b><span class="fragment"> - input|output binding value changes</span></li>
                    <li><b>OnInit</b><span class="fragment"> - after the 1st OnChange</span></li>
                    <li><b>DoCheck</b><span class="fragment"> - dev's custom change detection</span></li>
                    <li><b>AfterContentInit</b><span class="fragment"> - after comp content initialized</span></li>
                    <li><b>AfterContentChecked</b><span class="fragment"> - after every check of comp content</span></li>
                    <li><b>AfterViewInit</b><span class="fragment"> - after comp's view(s) are initialized</span></li>
                    <li><b>AfterViewChecked</b><span class="fragment"> - after every check of a comp's view(s)</span></li>
                    <li><b>OnDestroy</b><span class="fragment"> - just before destruction</span></li>
                </ul>
            </section>
            <section>
                <h3>And we can use Interface to declare it</h3>
                <pre><code class="hljs javascript">import { Component, OnInit } from 'angular2/core';

@Component({
 selector: 'todo',
 templateUrl: '../partials/todo.html'
})
export class TodoComp implements OnInit {
  constructor(private heroService: HeroService, private routeParams: RouteParams){}
  ngOnInit() {
    console.log('The Component is initialised');
  }
}</code></pre>
            <p class="fragment">No more headache with [pre|post]link and compile</p>
            </section>

<!--            <section>
                <h3>How to start my app ?</h3>
                <p class="fragment">No more ng-app, directly from js</p>
                <pre class="fragment"><code class="hljs javascript">// main.ts
import {bootstrap} from 'angular2/platform/browser';
import {AppComponent} from './app.component';

bootstrap(AppComponent);</code></pre>
            </section>
            <section>
                <h3>Component</h3>
                <pre><code>@Component({
    selector: 'my-app',
    templateUrl : 'app.html'
})
export class AppComponent{}</code></pre>
                <pre class="fragment"><code class="hljs html">&ltmy-app&gtLoading...&lt/my-app&gt</code></pre>
            </section>-->
        </section>
        <section id="template">
            <section>
                <h3>Template</h3>
                <pre><code class="hljs html">&ltdiv&gtMy title is {{ title }}&lt/div&gt</code></pre>
            </section>
            <section>
                <h3>Property Bindings</h3>
                <p>No more ng-XXX directives</p>
                <p class="fragment">Instead, we use standard HTML for property binding</p>
                <div class="fragment">
                    <pre><code class="hljs html">&lth3 ng-hide="vm.isHidden" ng-class="{active : favoriteHero === hero }" &gt
  Your favorite hero is: {{ vm.favoriteHero }}
&lt/h3&gt</code></pre>
                </div>
                <div class="fragment">
                    <p>becomes...</p>
                    <pre><code class="hljs html">&lth3 [hidden]="isHidden" [class.active]="favoriteHero === hero" &gt
  Your favorite hero is: {{ favoriteHero }}
&lt/h3&gt</code></pre>
                </div>
            </section>
            <section>
                <h3>Event Bindings</h3>
                <p>Really no more ng-XXX directives</p>
                <p class="fragment">Again, we use standard HTML for event binding</p>
                <div class="fragment">
                    <pre><code class="hljs html">&ltinput ng-click="vm.send(foo)"&gtClick me !&lt/input&gt</code></pre>
                </div>
                <div class="fragment">
                    <p>becomes...</p>
                    <pre><code class="hljs html">&ltinput (click)="send($event)"&gtClick me !&lt/input&gt</code></pre>
                </div>
            </section>
            <section>
                <h3>And the 'magical' two-way binding ?</h3>
                <p>It disappears (in Angular2 Apha), so we have to do it manually</p>
                <pre><code class="hljs html">&ltinput [value]="hero.firstName"
       (input)="hero.firstName=$event.target.value" &gt</code></pre>
            </section>
            <section data-background="img/deepdive/sad.gif"></section>
            <section>
                <h3>NgModel Directive</h3>
                <p>The API evolves to introduce a syntax for the two-way binding in latest Alpha</p>
                <pre><code class="hljs html">&ltinput [(ngModel)]="hero.firstname"&gt</code></pre>
                <p>This syntax is a mix between property and event bindings</p>
            </section>
            <section data-background="img/deepdive/twowaybinding.png"></section>
            <section>
                <h3>Structural Directive</h3>
                <p>All the directive inducing a dom modification outside of the current element are called <b>Structural Directive</b></p>
                <ul>
                    <li>ng-if</li>
                    <li>ng-switch</li>
                    <li>ng-repeat</li>
                </ul>
            </section>
            <section>
                <h3>In Angular2, the syntax is kind of special...</h3>
                <pre><code class="hljs html">&ltp *ngIf="condition"&gt
  condition is true and ngIf is true.
&lt/p&gt</code></pre>
                <pre><code class="hljs html">&lttr *ngFor="#movie of movies"&gt{{movie.name}}&lt/tr&gt</code></pre>
            </section>
            <section>
                <h3>Local template variable</h3>
                <p>We can define a template variable associated to a dom element</p>
                <pre><code class="hljs html">&ltvideo #player src="foo.mp4"&gt&lt/video&gt
&ltbutton (click)="player.play()"&gt&lt/button&gt</code></pre>
            </section>
        </section>
    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true },
            { src: 'plugin/notes/notes.js', async: true },
            { src: 'socket.io/socket.io.js', async: true },
            { src: 'plugin/notes-server/client.js', async: true }
        ]
    });

</script>

</body>
</html>
